In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) 
warnings.simplefilter(action='ignore', category=RuntimeWarning) 

# Modelling tools
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from statsmodels.nonparametric import kernel_regression
from modellingtools import kfold, plot_learning_curve, rmse, test_models, cv_np_reg
from sklearn.pipeline import Pipeline

import pandas as pd

In [5]:
data=pd.read_csv("./data/model_data/train.csv")
data.head(2)

,production_kg,superficie,taille_menage,age,nbre_heure_travail,lat,lng,culture_label_Arachide,culture_label_Bissap,culture_label_Mais,culture_label_Manioc,culture_label_Mil,culture_label_Niebe,culture_label_Pasteque,culture_label_Riz,culture_label_Sesame,culture_label_Sorgho
0,600,1.0,17,64,49,30.241695,-92.024755,0,0,1,0,0,0,0,0,0,0
1,100,1.5,9,55,49,12.913339,-14.161130,0,0,1,0,0,0,0,0,0,0